<% unless user_message.unlocked? %>

  <div class="message-show info-window message_locked" style="background-image: url(<%= user_message.unlocked? ? 'https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/c2/86/0e/caption.jpg?w=800&h=-1&s=1' : ''  %>); background-size: cover">

  <div class="locked-message">
    <%= cl_image_tag user_message.message.user.photo.key, class: "avatar-bordered " %>

    <p class="congrats"> <%= user_message.message.user.first_name %> <br>left a Pon for you 🎉</p>

  <div class="hrefmessage1">
  <%# <div class="light_icone">
    <i class="fas fa-lightbulb"></i>
  </div> %>
    <h3 class="title">💡HINT💡</h3>
    <p class="locked-hint">
      <%= user_message.message.hint %>
    </p>
  </div>

    <%# <div class="locked-icon">
      <i class="fas fa-map-marker-alt"></i>
    </div> %>

    <div class="hrefmessage2">
    <div class = "pin_icone">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <h3 class="title">WAITING AT</h3>
    <div class="message-location">
      <%= user_message.message.address %>
    </div>
    </div>


  </div>
    <%= link_to "START MY PONWALK", itinerary_message_user_path(user_message), class: "btn btn-locked" %>
<% end %>
  <%#   </div> %>



<%# <i class="fa-thin fa-quote-left"></i>
<i class="fa-thin fa-quote-right"></i>
 %>
