<% if user_message.unlocked? %>
  <div class="message-show info-window message_unlocked" style="background-image: url(<%= user_message.unlocked? ? 'https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/c2/86/0e/caption.jpg?w=800&h=-1&s=1' : ''  %>); background-size: cover">
<% else %>
  <div class="message-show info-window message_locked" style="background-image: url(<%= user_message.unlocked? ? 'https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/c2/86/0e/caption.jpg?w=800&h=-1&s=1' : ''  %>); background-size: cover">
<% end %>


  <div class="message-show__title">
    <% if  %>
      <%= image_tag 'https://wpdaddy.com/wp-content/uploads/2020/11/thispersondoesnotexist-768x565.jpg', class: "avatar-bordered" %>
    <% end %>
    <%#= cl_image_tag current_user.avatar.key, class: "avatar-bordered " %>
      <p>
        <%= icon('fas', 'calendar') %>
       <em>Posted :</em> <%= distance_of_time_in_words(Time.now, user_message.message.created_at) %> <em>ago</em>
    </p>
  </div>
  <div class="message-show__bubble-message">
    <p class="message-content">
      <% if user_message.unlocked? %>
        <%= user_message.message.content %>
      <% else %>
        <%= icon('fas', 'flag') %>
        <%= user_message.message.hint %>
      <% end %>
    </p>
  </div>

  <div class = "pin_icone">
    <i class="fas fa-map-marker-alt"></i>
  </div>

  <div class="message-location">
    <%= user_message.message.address %>
  </div>


  <%#  <div class="bubble_messages"> %>
    <% if !user_message.unlocked? %>
      <%= link_to "Itinéraire", itinerary_message_user_path(user_message), class: "btn btn-primary" %>
    <% end %>
  <%#   </div> %>
</div>


<%# <i class="fa-thin fa-quote-left"></i>
<i class="fa-thin fa-quote-right"></i>
 %>
