<div class="map-container">
  <div style="width: 100vw; height: 100vh;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
    <%# <% profile =  image_tag "assets/images/profile_pics/#{current_user.first_name}_#{current_user.last_name}.png", class:'avatar-large' %> %>
  <%= link_to "x", "#", class: "btn btn-light btn-circle-primary btn-profile" %>
  <%= link_to "x", "#", class: "btn btn-light btn-circle-secondary btn-lock" %>
  <%= link_to "x", "#", class: "btn btn-light btn-circle-secondary btn-play" %>
  <%= link_to "x", "#", class: "btn btn-light btn-circle-secondary btn-list" %>
  <%= link_to "x", "#", class: "btn btn-light btn-circle-primary btn-new" %>
  <%= link_to "x", "#", class: "btn btn-light btn-circle-secondary btn-geo" %>
</div>
