<%= content_for(:topnavbar_title) do %>
  You are <span class="addbackground"><%= pluralize(@unlocked_messages_counter, "new pone", "new pones") %></span> behind !
<% end %>
<%= content_for(:bottom_navbar_title) do %>
  You are <span class="addbackground"><%= pluralize(@unlocked_messages_counter, "new pone", "new pones") %></span> behind !
<% end %>

<div class="map-container">
  <div style="width: 100vw; height: 100vh;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
  <%= link_to "#", class: "profile" do%>
    <div>
      <%= image_tag "#{current_user.first_name}_#{current_user.last_name}.png",  class:'avatar-large'%>
      <%= image_tag "Logo-pour-effet-sautillement.png", class:'logo-profile' %>
    </div>
  <% end %>
  <%# <%= link_to "#", class: "btn btn-light btn-circle-secondary btn-lock" do %>
    <%# <i class="fas fa-lock"></i>
  <% end %>
  <%# <%= link_to "#", class: "btn btn-light btn-circle-secondary btn-play" do %>
       <%# <i class="fas fa-play"></i> %>
  <%# <% end %>
  <%# <%= link_to "#", class: "btn btn-light btn-circle-secondary btn-list" do %>
    <%# <i class="fas fa-list-ul"></i> %>
  <%# <% end %>
  <%# <%= link_to "#", class: "btn btn-light btn-circle-primary btn-new" do%>
    <%# <i class="fas fa-plus"></i> %>
  <%# <% end %>
  <%# <%= link_to "#", class: "btn btn-light btn-circle-secondary btn-geo" do %>
    <%# <i class="fas fa-crosshairs"></i> %>
  <%# <% end %>
</div>
