<%= content_for(:topnavbar_title) do %>
  <%= @message_address%>
<% end %>
<%= content_for(:bottom_navbar_title) do %>
  <%= link_to message_users_path, class: "navbar-brand" do %>
    <i class="fas fa-long-arrow-alt-left"></i>
  <% end %>
<% end %>

<div class="map-container">
  <div style="width: 100vw; height: 100%;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-user-coordinates-value="<%= @user_coordinates.to_json %>"
    data-mapbox-message-coordinates-value="<%= @message_coordinates.to_json %>"
    data-mapbox-message-user-id-value="<%= @message_user.id %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="instructions">
      <p class= infoitinerary><span data-mapbox-target="duration">-</span></p>
      <p class= infoitinerary><span data-mapbox-target="distance">-</span></p>
    </div>
    <div>

    </div>
  </div>
</div>
