<%= content_for(:topnavbar_title) do %>
Create your ponmessage 2/2
<% end %>
<%= content_for(:bottom_navbar_title) do %>
<%= link_to message_users_path, class: "navbar-brand" do %>
        <%= image_tag "exit_logo.png" %>
      <% end %>
<% end %>
<h4>SELECT YOUR PONFRIENDS</h4>
<div class="p-2">
  <%= simple_form_for [@message, Message.new], url: message_message_users_path, method: :post do |f|  %>
    <%= f.association :recipients, wrapper_html: {class:"list-users"}, label:"", as: :check_boxes, label_method: lambda { |recipient| "#{recipient.first_name} #{recipient.last_name}" } %>
    <div class='text-center'>
      <%= f.submit "SEND YOUR PONMESSAGE", class: "btn text-center" %>
    </div>
  <% end %>
</div>
