<%= content_for(:topnavbar_title) do %>
  Your message from <span class="addbackground"><%= @sender_name%></span>
<% end %>
<%= content_for(:bottom_navbar_title) do %>
  <%= link_to message_users_path, class: "navbar-brand" do %>
        <%= image_tag "exit_logo.png" %>
      <% end %>
<% end %>
<div class="message-show" style="background-image: <%#= cl_image_tag @message.photo %>url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/c2/86/0e/caption.jpg?w=800&h=-1&s=1'); background-size: cover">

  <div class="message-show__title">
    <%= image_tag 'https://wpdaddy.com/wp-content/uploads/2020/11/thispersondoesnotexist-768x565.jpg', class: "avatar-bordered" %>
    <%#= cl_image_tag current_user.avatar.key, class: "avatar-bordered " %>
    <p>
      <%= @message_user.message.address %>
    </p>
  </div>


  <div class="bubble_messages">
    <div class="message-show__bubble-message">
      <p class="message-content">
        <% if @message_user.unlocked? %>
          <%= @message_user.message.content %>
        <% else %>
          <%= icon('fas', 'flag') %>
          <%= @message_user.message.hint %>
        <% end %>
      </p>
    </div>
  </div>
</div>
