<%= content_for(:topnavbar_title) do %>
  Your message from <span class="addbackground"><%= @sender_name%></span>
<% end %>
<%= content_for(:bottom_navbar_title) do %>
  <%= link_to message_users_path, class: "navbar-brand" do %>
    <i class="fas fa-long-arrow-alt-left"></i>
  <% end %>
<% end %>

<div class="message-show" style="background-image: url('<%= @message.photo.attached? ? cl_image_path(@message.photo.key) : "https://res.cloudinary.com/guillaumelevcloud/image/upload/v1646837372/caption_dm80mt.jpg" %>') ; background-size: cover">
<%# url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/c2/86/0e/caption.jpg?w=800&h=-1&s=1')%>
  <div class="message-show__title">
    <%# <%= image_tag 'https://wpdaddy.com/wp-content/uploads/2020/11/thispersondoesnotexist-768x565.jpg', class: "avatar-bordered" %>
    <%# <%= cl_image_tag "#{@message_user.message.user.first_name}_#{@message_user.message.user.last_name}.png", class:'avatar-bordered', alt:'avatar-bordered'%>
    <%= cl_image_tag @message_user.message.user.photo.key, class: "avatar-bordered " %>
    <p>
      <i class="fas fa-map-marker-alt"></i>
      Posted <%= time_ago_in_words(@message_user.message.created_at) %> ago at : <br>
      <%= @message_user.message.address %>
    </p>
  </div>


  <div class="bubble_messages">
    <div class="message-show__bubble-message">
      <p class="message-content">
        <% if @message_user.unlocked? %>
         <i class="fas fa-quote-left"></i>
          <%= @message_user.message.content %>
        <% else %>
          <%= icon('fas', 'flag') %>
          <%= @message_user.message.hint %>
        <% end %>
      </p>
    </div>
  </div>
</div>
